################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DependencyExplorer/obj
/.vs/DependencyExplorer.slnx/FileContentIndex
